/*
For info:
--size-content: 1280px;
--size-wide: 1536px;
--size-screen-sm: 640px;
--size-screen-md: 768px;
--size-screen-lg: 1024px;
--size-screen-xl: 1280px;
--size-screen-2xl: 1536px;

Mobile nav starts at 600px - no variable as far as I can see - hard coded

*/

@mixin hidden-element($text) {
	//styles for editor screens, so hidden elements aren't missed whilst editing
	outline: solid 6px #ffbf47;
	opacity: 0.7;
	&:not(.is-hovered):not(:hover):after {
		// the native is-hovered class in WordPress uses its own :after pseudo element
		content: " #{$text} ";
		font-size: 80%;
		color: #000;
		position: absolute;
		background: #ffbf47;
	}
}

@mixin hide-element($class, $text: "Hidden component") {
	.#{$class}:not(.editor-editor-interface *):not(.block-editor-iframe__html *) {
		display: none !important;
	}
	.editor-editor-interface,
	.block-editor-iframe__html {
		.#{$class} {
			@include hidden-element($text);
		}
	}
}

@media (width <= 600px) {
	@include hide-element(wb-hide-on-mobile, Desktop only);
}
@media (width > 600px) {
	@include hide-element(wb-hide-on-desktop, Mobile only);
}
