/*
Shewing and hiding things at different breakpoints.
Shewing warnings in the backend that things might be hidden or shewn at different widths.
*/

@use "variables" as *;

@mixin editor-visibility($class, $colour, $text) {
	//styles for editor screens, so hidden elements aren't missed whilst editing
	.editor-editor-interface,
	.block-editor-iframe__html {
		.#{$class} {
			border: dashed 6px $colour;
			&:not(.is-hovered):not(:hover):before {
				// the native is-hovered class in WordPress uses its own :after pseudo element
				content: " #{$text} ";
				font-weight: normal;
				font-size: 14px;
				color: #000;
				position: absolute;
				background: $colour;
				top: 0;
				left: 0;
				z-index: 1;
				opacity: 0.9;
			}
		}
	}
}

@mixin hide-element($class) {
	.#{$class} {
		opacity: 0.65;
	}
	.#{$class}:not(.editor-editor-interface *):not(.block-editor-iframe__html *) {
		display: none !important;
	}
	@include hide-background(#{$class}-bg);
}

@mixin hide-background($class) {
	.#{$class}:not(.editor-editor-interface *):not(.block-editor-iframe__html *) {
		background-image: none !important;
	}
}

//
$breakpoints: (
	xs-: $size-xs,
	sm-: $size-sm,
	md-: $size-md,
	// with no specific width set, assume medium
	"": $size-md,
	lg-: $size-lg,
	xl-: $size-xl,
	xxl-: $size-xxl,
);

@each $name, $size in $breakpoints {
	@include editor-visibility(
		wb-#{$name}mobile-only,
		#fcd48a,
		"Narrow only (≤#{$size})"
	);

	@include editor-visibility(
		wb-#{$name}desktop-only,
		#a6dbf7,
		"Wide only (>#{$size})"
	);

	@include editor-visibility(
		wb-#{$name}mobile-only-bg,
		#f7a6a6,
		"Background only at ≤#{$size}"
	);

	@include editor-visibility(
		wb-#{$name}desktop-only-bg,
		#f7a6a6,
		"Background only at >#{$size}"
	);

	@media (width <= #{$size}) {
		@include hide-element(wb-#{$name}desktop-only);
	}

	@media (width > #{$size}) {
		@include hide-element(wb-#{$name}mobile-only);
	}
}
