// -------------------------------------
// Variables
// -------------------------------------
$border-alpha-33: color-mix(in srgb, currentColor 33%, transparent);
$border-alpha-10: color-mix(in srgb, currentColor 10%, transparent);

// -------------------------------------
// Base form fields
// -------------------------------------
input,
select,
textarea,
.wb-form-field,
.wp-block-search__inside-wrapper {
	width: 438px;
	max-width: 100%;
	border: 2px solid $border-alpha-33;
	background-color: var(--default-background);
	padding: 10px 16px;
	color: var(--default-foreground);

	// Rounded variants
	.rounded-corners & {
		border-radius: 8px;
	}

	.very-rounded-corners & {
		border-radius: 50px;
	}

	// Focus
	&:focus {
		border-color: currentColor;
		outline-width: 2px;
    outline-style: solid;
    outline-color: var(--default-focus-text);
	}

	// Disabled
	&:disabled {
		cursor: not-allowed;
		background-color: $border-alpha-33;
		opacity: 0.5;
	}

	// Error state
	&.error {
		color: var(--colour-error);

		&:focus {
			outline: 2px solid var(--colour-error);
		}
	}

	// Options
	option {
		padding: 8px 0;
	}

	// Multiple select
	&[multiple] {
		overflow: auto;

		&[size] {
			// Scrollbar (WebKit)
			&::-webkit-scrollbar {
				width: 8px;
			}

			&::-webkit-scrollbar-thumb {
				background-color: $border-alpha-33;
				border-radius: 4px;
			}

			&::-webkit-scrollbar-track {
				background-color: $border-alpha-10;
			}

			// Rounded scrollbar edges
			.rounded-corners &,
			.very-rounded-corners & {
				&::-webkit-scrollbar-thumb,
				&::-webkit-scrollbar-track {
					border-top-right-radius: 7px;
					border-bottom-right-radius: 7px;
				}
			}

			.very-rounded-corners & {
				border-top-right-radius: 7px;
				border-bottom-right-radius: 7px;
			}
		}
	}
}

// -------------------------------------
// Search block differences
// -------------------------------------
.wp-block-search__inside-wrapper {
	padding-inline-end: 10px;

	input {
		padding: 0;
	}
}
