header {
	//background-color: var(--colour-header-background);
	background-color: var(--colour-header-background);
	color: var(--colour-header-foreground);

	a:focus {
		img.custom-logo {
			filter: var(--colour-header-logo-focus-filter);
		}
	}

	.wb-search-block-wrapper{
		.wb-search-toggle {
			//No options to change colours on toggle for now
			.wp-block-search-toggle-button{
				background-color: var(--colour-header-search-toggle-background);

				.wb-search-icon {	
					fill: var(--colour-header-search-toggle-icon-fill);
				}

				.wb-close-icon{
					fill: var(--colour-header-search-toggle-icon-fill);
				}

				&:hover {
					background-color: var(--colour-header-search-toggle-hover-background);

					.wb-search-icon {
						fill: var(--colour-header-search-toggle-hover-icon-fill);
					}

					.wb-close-icon{
					
						fill: var(--colour-header-search-toggle-hover-icon-fill);
					}

				}
			}
		}

		.wb-search-form-wrapper {
			background-color: var(--colour-header-search-form-background);
			color: var(--colour-header-search-form-text);

			.wp-block-search__button {

				background-color: var(--colour-header-search-button-background);

				.wb-search-icon {
					fill: var(--colour-header-search-button-icon-fill);
				}

				&:hover {
					background-color: var(--colour-header-search-button-hover-background);

					.wb-search-icon {
						fill: var(--colour-header-search-button-hover-icon-fill);
					}
				}
			}
		}

		&.search-drawer-open {
			.wp-block-search__label {
				color: var(--colour-header-search-drawer-label);
			}
			.wb-search-form-wrapper {
				background-color: var(--colour-header-search-drawer-background);
				
				.wp-block-search__input{
					background-color: var(--colour-header-search-drawer-input-background);
					color: var(--colour-header-search-drawer-input-text);
					border-color: var(--colour-header-search-drawer-input-border);
				}

				.wp-block-search__button {

					background-color: var(--colour-header-search-drawer-button-background);

					.wb-search-icon {
						fill: var(--colour-header-search-drawer-button-icon-fill);
					}

					&:hover {
						background-color: var(--colour-header-search-drawer-button-hover-background);

						.wb-search-icon {
							fill: var(--colour-header-search-drawer-button-hover-icon-fill);
						}
					}
				}
			}

		
		}

		
	}



	.wp-block-navigation:not(.has-background),
	.wp-block-navigation.has-background {
		background-color: var(--colour-header-nav-background);

		// The box shadows here extend the nav background colour to the edge of the screen
		box-shadow:
			0 0 0 0 var(--colour-header-nav-background-overflow),
			300px 0 0 0 var(--colour-header-nav-background-overflow),
			-300px 0 0 0 var(--colour-header-nav-background-overflow),
			600px 0 0 0 var(--colour-header-nav-background-overflow),
			-600px 0 0 0 var(--colour-header-nav-background-overflow),
			900px 0 0 0 var(--colour-header-nav-background-overflow),
			-900px 0 0 0 var(--colour-header-nav-background-overflow),
			1200px 0 0 0 var(--colour-header-nav-background-overflow),
			-1200px 0 0 0 var(--colour-header-nav-background-overflow),
			1500px 0 0 0 var(--colour-header-nav-background-overflow),
			-1500px 0 0 0 var(--colour-header-nav-background-overflow),
			1800px 0 0 0 var(--colour-header-nav-background-overflow),
			-1800px 0 0 0 var(--colour-header-nav-background-overflow),
			2100px 0 0 0 var(--colour-header-nav-background-overflow),
			-2100px 0 0 0 var(--colour-header-nav-background-overflow);
		a {
			> span {
				color: var(--colour-header-nav-links);
			}
			&:focus {
				background-color: var(--colour-focus-background);
				> span {
					color: var(--colour-focus-text);
					text-decoration: inherit; //this ensures the colour of the decoration is the same as the text, otherwise the <a> text-decoration is used and that isn't always the same colour
				}
			}
		}

		.wp-element-button {
			outline: var(--colour-header-button-outline);
		}

		.wp-block-navigation:not(.has-background),
		.wp-block-navigation.has-background {
			.wp-block-navigation__submenu-container {
				background-color: var(--colour-header-subnav-background);

				a {
					> span {
						color: var(--colour-header-subnav-links);
					}
				}
			}
		}
	}
}

/**
	* Footer colours are dealt with in the frontend, with colours chosen from the palette
	* These styles just need to deal with the identifying of links & hover states 
	* (colours and hover colours are dealt with in WordPress, hover states are the same as elsewhere)
*/
footer {
	a {
		text-decoration: underline;
		&:hover {
			text-decoration: none;
		}
	}
}
