header {
	background-color: var(--colour-header-background);
	color: var(--colour-header-foreground);

	a:focus {
		img.custom-logo {
			filter: var(--colour-header-logo-focus-filter);
		}
	}

	.wb-search-block-wrapper {
		.wb-search-toggle {
			// Search button should inherit button colour
			.wp-block-search-toggle-button {
				.wb-search-icon,
				.wb-close-icon {
					fill: currentColor;
				}
			}
		}

		.wb-search-form-wrapper {
			background-color: var(--colour-header-search-form-background);
			color: var(--colour-header-search-form-text);

			.wp-block-search__button {
				.wb-search-icon {
					fill: currentColor;
				}
			}
		}

		&.search-drawer-open {
			.wp-block-search__label {
				color: var(--colour-header-search-drawer-label);
			}
			.wb-search-form-wrapper {
				background-color: var(--colour-header-search-drawer-background);

				.wp-block-search__input {
					background-color: var(--colour-header-search-drawer-input-background);
					color: var(--colour-header-search-drawer-input-text);
					border-color: var(--colour-header-search-drawer-input-border);
				}
			}
		}
	}



	.wp-element-button {
		color: var(--colour-header-button-foreground);
		background-color: var(--colour-header-button-background);

		&:not(.wb-no-outline *) {
			// We apply the outline styles if they aren't turned off
			// This value is the entire outline style, not just the colour
			outline: var(--colour-header-button-outline);
		}
	}
}

/**
	* Footer colours are dealt with in the frontend, with colours chosen from the palette
	* These styles just need to deal with the identifying of links & hover states 
	* (colours and hover colours are dealt with in WordPress, hover states are the same as elsewhere)
*/
footer {
	a {
		text-decoration: underline;
		&:hover {
			text-decoration: none;
		}
	}
}
