:root {
	/* Layout Constraints */
	--size-content: 1280px;
	--size-wide: 1536px;
	--size-screen-sm: 640px;
	--size-screen-md: 768px;
	--size-screen-lg: 1024px;
	--size-screen-xl: 1280px;
	--size-screen-2xl: 1536px;

	/* Readable text */
	--max-prose-width: 789px;
	/* Intended for use on prose elements like `p, ul, ol`. e.g. `p { padding-right: var(--prose-max-width-padding) }` */
	/* Similar to `max-width: var(--max-prose-width)` except the block width is not modified. */
	--prose-max-width-padding: min(
		calc(100% - var(--max-prose-width)),
		calc(var(--wp--style--global--content-size) - var(--max-prose-width))
	);

	/* Z-Index Scale */
	--z-index-auto: auto;
	--z-index-0: 0;
	--z-index-10: 10;
	--z-index-20: 20;
	--z-index-30: 30;
	--z-index-40: 40;
	--z-index-50: 50;

	/* Shadows */
	--shadow-sm: 0 1px 2px 0 rgb(0 0 0 / 0.05);
	--shadow-default:
		0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
	--shadow-md: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
	--shadow-lg:
		0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
	--shadow-xl:
		0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
	--shadow-2xl: 0 25px 50px -12px rgb(0 0 0 / 0.25);
	--shadow-inner: inset 0 2px 4px 0 rgb(0 0 0 / 0.05);
	--shadow-none: 0 0 #0000;

	/* Animation Durations */
	--duration-75: 75ms;
	--duration-100: 100ms;
	--duration-150: 150ms;
	--duration-200: 200ms;
	--duration-300: 300ms;
	--duration-500: 500ms;
	--duration-700: 700ms;
	--duration-1000: 1000ms;

	/* Animation Timing Functions */
	--timing-linear: linear;
	--timing-in: cubic-bezier(0.4, 0, 1, 1);
	--timing-out: cubic-bezier(0, 0, 0.2, 1);
	--timing-in-out: cubic-bezier(0.4, 0, 0.2, 1);
}
