a {
	text-underline-offset: 10%;
	text-decoration-thickness: 0.0625em; // 1px at base size, increases proportionally with font size
	&:hover {
		text-decoration-thickness: 0.125em; // 2px at base size, increases proportionally with font size
	}
}
