/**
The Drawer nav - an extension style to the core navigation block.
**/

nav.is-style-drawer {
	/**
	* This file contains all the required additional colour declarations for the drawer nav
	*/

	.wp-block-navigation-item.has-child {
		.wp-block-navigation-item__label {
			color: var(--colour-header-nav-links);
		}
		a.wp-block-navigation-item__content,
		button {
			&:focus {
				background-color: var(--colour-focus-background-muted);
				box-shadow:
					0 -0.075em var(--colour-focus-background-muted),
					0 0.15em var(--colour-focus-outline);
				.wp-block-navigation-item__label {
					color: var(--colour-focus-text);
					text-decoration: inherit; //this ensures the colour of the decoration is the same as the text, otherwise the <a> text-decoration is used and that isn't always the same colour
				}
				+ .wp-block-navigation__submenu-icon {
					z-index: 1; //the focus background will otherwise obscure this.
					svg {
						stroke: var(--colour-focus-text);
					}
				}
			}
			&:focus-visible {
				background-color: var(--colour-focus-background);
				box-shadow:
					0 -0.075em var(--colour-focus-background),
					0 0.15em var(--colour-focus-outline);
				outline: none;
			}
		}
	}
	.wp-block-navigation-item.has-child:has(button[aria-expanded="true"]) {
		// Inverse colours for control when menu is open
		background-color: var(--colour-header-nav-links);
		button .wp-block-navigation-item__label {
			color: var(--colour-header-nav-background);
		}
		.wp-block-navigation__submenu-icon > svg {
			stroke: var(--colour-header-nav-background);
		}
		&:has(:focus) {
			background-color: var(--colour-focus-background-muted);
			button .wp-block-navigation-item__label {
				color: var(--colour-focus-text);
				text-decoration: inherit; //this ensures the colour of the decoration is the same as the text, otherwise the <a> text-decoration is used and that isn't always the same colour
			}
			.wp-block-navigation__submenu-icon > svg {
				stroke: var(--colour-focus-text);
			}
		}
		&:has(:focus-visible) {
			background-color: var(--colour-focus-background);
		}
	}

	.wp-block-navigation:not(.has-background),
	.wp-block-navigation.has-background {
		.wp-block-navigation__submenu-container {
			background-color: var(--colour-header-nav-drawer-background);

			a {
				> .wp-block-navigation-item__label {
					color: var(--colour-header-nav-drawer-links);
				}
			}
		}
	}

	background-color: var(--colour-header-nav-background);
	// The box shadows here extend the nav background colour to the edge of the screen
	box-shadow:
		0 0 0 0 var(--colour-header-nav-background-overflow),
		300px 0 0 0 var(--colour-header-nav-background-overflow),
		-300px 0 0 0 var(--colour-header-nav-background-overflow),
		600px 0 0 0 var(--colour-header-nav-background-overflow),
		-600px 0 0 0 var(--colour-header-nav-background-overflow),
		900px 0 0 0 var(--colour-header-nav-background-overflow),
		-900px 0 0 0 var(--colour-header-nav-background-overflow),
		1200px 0 0 0 var(--colour-header-nav-background-overflow),
		-1200px 0 0 0 var(--colour-header-nav-background-overflow),
		1500px 0 0 0 var(--colour-header-nav-background-overflow),
		-1500px 0 0 0 var(--colour-header-nav-background-overflow),
		1800px 0 0 0 var(--colour-header-nav-background-overflow),
		-1800px 0 0 0 var(--colour-header-nav-background-overflow),
		2100px 0 0 0 var(--colour-header-nav-background-overflow),
		-2100px 0 0 0 var(--colour-header-nav-background-overflow);

	.has-child
		.wp-block-navigation-submenu__toggle[aria-expanded="true"]
		~ ul.wp-block-navigation__submenu-container {
		box-shadow:
			0 0 0 0 var(--colour-header-nav-drawer-background),
			300px 0 0 0 var(--colour-header-nav-drawer-background),
			-300px 0 0 0 var(--colour-header-nav-drawer-background),
			600px 0 0 0 var(--colour-header-nav-drawer-background),
			-600px 0 0 0 var(--colour-header-nav-drawer-background),
			900px 0 0 0 var(--colour-header-nav-drawer-background),
			-900px 0 0 0 var(--colour-header-nav-drawer-background),
			1200px 0 0 0 var(--colour-header-nav-drawer-background),
			-1200px 0 0 0 var(--colour-header-nav-drawer-background),
			1500px 0 0 0 var(--colour-header-nav-drawer-background),
			-1500px 0 0 0 var(--colour-header-nav-drawer-background),
			1800px 0 0 0 var(--colour-header-nav-drawer-background),
			-1800px 0 0 0 var(--colour-header-nav-drawer-background),
			2100px 0 0 0 var(--colour-header-nav-drawer-background),
			-2100px 0 0 0 var(--colour-header-nav-drawer-background);
	}
}

nav.is-style-detached {
	button.wp-block-navigation__responsive-container-open[aria-expanded="true"] {
		// Inverse colours for control when menu is open
		color: var(--colour-header-button-background);
		background-color: var(--colour-header-button-foreground);
	}

	.wp-block-navigation__responsive-dialog {
		background-color: var(--colour-header-nav-drawer-background);

		a,
		button {
			> .wp-block-navigation-item__label,
			&:after {
				color: var(--colour-header-nav-drawer-links);
			}
			&:focus {
				background-color: var(--colour-focus-background-muted);
				> span,
				&:after {
					color: var(--colour-focus-text);
					text-decoration: inherit; //this ensures the colour of the decoration is the same as the text, otherwise the <a> text-decoration is used and that isn't always the same colour
				}
			}
			&:focus-visible {
				background-color: var(--colour-focus-background);
			}
		}

		.wp-block-navigation-item {
			border-color: var(--colour-header-nav-separator-line);
		}

		// The box shadows here extend the nav background colour to the edge of the screen
		box-shadow:
			0 0 0 0 var(--colour-header-nav-drawer-background),
			300px 0 0 0 var(--colour-header-nav-drawer-background),
			-300px 0 0 0 var(--colour-header-nav-drawer-background),
			600px 0 0 0 var(--colour-header-nav-drawer-background),
			-600px 0 0 0 var(--colour-header-nav-drawer-background),
			900px 0 0 0 var(--colour-header-nav-drawer-background),
			-900px 0 0 0 var(--colour-header-nav-drawer-background),
			1200px 0 0 0 var(--colour-header-nav-drawer-background),
			-1200px 0 0 0 var(--colour-header-nav-drawer-background),
			1500px 0 0 0 var(--colour-header-nav-drawer-background),
			-1500px 0 0 0 var(--colour-header-nav-drawer-background),
			1800px 0 0 0 var(--colour-header-nav-drawer-background),
			-1800px 0 0 0 var(--colour-header-nav-drawer-background),
			2100px 0 0 0 var(--colour-header-nav-drawer-background),
			-2100px 0 0 0 var(--colour-header-nav-drawer-background);
	}
}

.breadcrumb_desktop {
	.sep svg {
		fill: currentColor;
	}
}
.breadcrumb_mobile {
	.breadcrumb_back {
		float: left;
		svg {
			fill: currentColor;
		}
	}
}
