:root {
	--color-primary: #3b82f6;
}

.nav-switcher {
	@apply pt-2;

	.wp-block-navigation__container {
		@apply flex gap-0;

		.nav-link {
			display: inline-flex;
			align-items: center;

			&:not(:last-child) {
				@apply border-r border-gray-100 pr-2;
			}

			&:not(:first-child) {
				@apply pl-2;
			}

			a {
				@apply focus:ring-2 focus:ring-offset-2 focus:outline-none;
				@apply hover:text-(--color-primary);

				&.current-menu-item,
				&.current_page_item {
					color: var(--color-primary);
					@apply font-semibold;
				}
			}
		}
	}
}
