/**
The Drawer nav - an extension style to the core navigation block.
**/

nav.is-style-drawer {
	/**
	* This file contains all the required additional colour declarations for the drawer nav
	*/

	.wp-block-navigation-item {
		border-radius: var(--site-radius);
		.wp-block-navigation-item__label,
		.wp-block-navigation__submenu-icon {
			color: var(--colour-header-nav-links);
			position: relative;
			z-index: 1; //the focus background will otherwise obscure this.
			svg {
				stroke: currentColor;
			}
		}
		&.current-menu-item {
			// Reverse colours for current page & ancestor
			a.wp-block-navigation-item__content {
				pointer-events: none; //disable clicking (current page - would do nothing)
				border-radius: var(--site-radius);
				background-color: var(--colour-header-nav-links);
			}
			.wp-block-navigation-submenu__toggle {
				background-color: var(--colour-header-nav-links);
			}
			.wp-block-navigation-item__label,
			.wp-block-navigation__submenu-icon {
				color: var(--colour-header-nav-background);
			}
		}
		a.wp-block-navigation-item__content {
			&:hover:not(:focus) {
				.wp-block-navigation-item__label {
					box-shadow: 0 0.15em currentColor;
				}
			}
			&:not(.wp-block-navigation-submenu a):focus {
				background-color: unset !important;
				box-shadow: none !important;
			}
			&:focus {
				.wp-block-navigation-item__label {
					background-color: var(--colour-focus-background-muted);
					color: var(--colour-focus-text);
					text-decoration: inherit; //this ensures the colour of the decoration is the same as the text, otherwise the <a> text-decoration is used and that isn't always the same colour
				}
			}
			&:focus-visible {
				.wp-block-navigation-item__label {
					background-color: var(--colour-focus-background);
					color: var(--colour-focus-text);
				}
			}
		}

		.wp-block-navigation-submenu__toggle {
			border-radius: var(--site-radius);
			&:hover {
				.wp-block-navigation-item__label {
					box-shadow: 0 0.15em currentColor;
				}
			}
			&:focus {
				background-color: var(--colour-focus-background-muted);
				outline: 2px solid var(--colour-focus-outline);
				.wp-block-navigation-item__label {
					box-shadow: none;
					color: var(--colour-focus-text);
				}
				+ .wp-block-navigation__submenu-icon {
					color: var(--colour-focus-text);
				}
			}
			&:focus-visible {
				background-color: var(--colour-focus-background);
				outline: 2px solid var(--colour-focus-outline);
				.wp-block-navigation-item__label {
					box-shadow: none;
				}
			}
			&[aria-expanded="true"]:not(:focus) {
				// Toggle is open
				// Inverse colours for control when menu is open
				background-color: var(--colour-header-nav-links);
				.wp-block-navigation-item__label {
					color: var(--colour-header-nav-background);
				}
				+ .wp-block-navigation__submenu-icon {
					color: var(--colour-header-nav-background);
				}
			}
		}
	}

	.wp-block-navigation:not(.has-background),
	.wp-block-navigation.has-background {
		.wp-block-navigation__submenu-container {
			background-color: var(--colour-header-nav-drawer-background);

			a {
				> .wp-block-navigation-item__label {
					color: var(--colour-header-nav-drawer-links);
				}
			}
		}
	}

	background-color: var(--colour-header-nav-background);
	// The box shadows here extend the nav background colour to the edge of the screen
	box-shadow:
		0 0 0 0 var(--colour-header-nav-background-overflow),
		300px 0 0 0 var(--colour-header-nav-background-overflow),
		-300px 0 0 0 var(--colour-header-nav-background-overflow),
		600px 0 0 0 var(--colour-header-nav-background-overflow),
		-600px 0 0 0 var(--colour-header-nav-background-overflow),
		900px 0 0 0 var(--colour-header-nav-background-overflow),
		-900px 0 0 0 var(--colour-header-nav-background-overflow),
		1200px 0 0 0 var(--colour-header-nav-background-overflow),
		-1200px 0 0 0 var(--colour-header-nav-background-overflow),
		1500px 0 0 0 var(--colour-header-nav-background-overflow),
		-1500px 0 0 0 var(--colour-header-nav-background-overflow),
		1800px 0 0 0 var(--colour-header-nav-background-overflow),
		-1800px 0 0 0 var(--colour-header-nav-background-overflow),
		2100px 0 0 0 var(--colour-header-nav-background-overflow),
		-2100px 0 0 0 var(--colour-header-nav-background-overflow);

	.has-child
		.wp-block-navigation-submenu__toggle[aria-expanded="true"]
		~ ul.wp-block-navigation__submenu-container {
		box-shadow:
			0 0 0 0 var(--colour-header-nav-drawer-background),
			300px 0 0 0 var(--colour-header-nav-drawer-background),
			-300px 0 0 0 var(--colour-header-nav-drawer-background),
			600px 0 0 0 var(--colour-header-nav-drawer-background),
			-600px 0 0 0 var(--colour-header-nav-drawer-background),
			900px 0 0 0 var(--colour-header-nav-drawer-background),
			-900px 0 0 0 var(--colour-header-nav-drawer-background),
			1200px 0 0 0 var(--colour-header-nav-drawer-background),
			-1200px 0 0 0 var(--colour-header-nav-drawer-background),
			1500px 0 0 0 var(--colour-header-nav-drawer-background),
			-1500px 0 0 0 var(--colour-header-nav-drawer-background),
			1800px 0 0 0 var(--colour-header-nav-drawer-background),
			-1800px 0 0 0 var(--colour-header-nav-drawer-background),
			2100px 0 0 0 var(--colour-header-nav-drawer-background),
			-2100px 0 0 0 var(--colour-header-nav-drawer-background);
	}
}

nav.is-style-detached {
	button.wp-block-navigation__responsive-container-open[aria-expanded="true"] {
		// Inverse colours for control when menu is open
		color: var(--colour-header-button-background);
		background-color: var(--colour-header-button-foreground);
	}

	.wp-block-navigation__responsive-dialog {
		background-color: var(--colour-header-nav-drawer-background);

		a,
		button {
			> .wp-block-navigation-item__label,
			&:after {
				color: var(--colour-header-nav-drawer-links);
			}
			&:focus {
				background-color: var(--colour-focus-background-muted);
				> span,
				&:after {
					color: var(--colour-focus-text);
					text-decoration: inherit; //this ensures the colour of the decoration is the same as the text, otherwise the <a> text-decoration is used and that isn't always the same colour
				}
			}
			&:focus-visible {
				background-color: var(--colour-focus-background);
			}
		}

		.wp-block-navigation-item {
			border-color: var(--colour-header-nav-separator-line);
		}

		// The box shadows here extend the nav background colour to the edge of the screen
		box-shadow:
			0 0 0 0 var(--colour-header-nav-drawer-background),
			300px 0 0 0 var(--colour-header-nav-drawer-background),
			-300px 0 0 0 var(--colour-header-nav-drawer-background),
			600px 0 0 0 var(--colour-header-nav-drawer-background),
			-600px 0 0 0 var(--colour-header-nav-drawer-background),
			900px 0 0 0 var(--colour-header-nav-drawer-background),
			-900px 0 0 0 var(--colour-header-nav-drawer-background),
			1200px 0 0 0 var(--colour-header-nav-drawer-background),
			-1200px 0 0 0 var(--colour-header-nav-drawer-background),
			1500px 0 0 0 var(--colour-header-nav-drawer-background),
			-1500px 0 0 0 var(--colour-header-nav-drawer-background),
			1800px 0 0 0 var(--colour-header-nav-drawer-background),
			-1800px 0 0 0 var(--colour-header-nav-drawer-background),
			2100px 0 0 0 var(--colour-header-nav-drawer-background),
			-2100px 0 0 0 var(--colour-header-nav-drawer-background);
	}
}

.breadcrumb_desktop {
	.sep svg {
		fill: currentColor;
	}
}
.breadcrumb_mobile {
	.breadcrumb_back {
		float: left;
		svg {
			fill: currentColor;
		}
	}
}
