//We may narrow this down to just 400/700 though we need discuss option in wp
@use "../../../node_modules/@fontsource/public-sans/index.css" as *;
@use "../../../node_modules/@fontsource/public-sans/700.css" as PublicSans700;

//PT Sans is just 400 and 700 so import all.
@use "../../../node_modules/@fontsource/pt-sans/index.css" as *;

:root {
	/* Fluid Font Sizes - Mobile first */
	--font-size-xs: 0.75rem;
	--font-size-sm: 0.875rem;
	--font-size-base: 1rem;
	--font-size-lg: 1.125rem;
	--font-size-xl: 1.25rem;
	--font-size-2-xl: 1.25rem;
	--font-size-3-xl: 1.5rem;
	--font-size-4-xl: 1.5rem;
	--font-size-5-xl: 1.875rem;
	--font-size-6-xl: 2.25rem;
	--font-size-7-xl: 3rem;
	--font-size-8-xl: 3.75rem;
	--font-size-9-xl: 4.5rem;

	--line-height-xs: 16px;
	--line-height-sm: 20px;
	--line-height-base: 24px;
	--line-height-lg: 28px;
	--line-height-xl: 28px;
	--line-height-2-xl: 28px;
	--line-height-3-xl: 32px;
	--line-height-4-xl: 32px;
	--line-height-5-xl: 36px;
	--line-height-6-xl: 40px;
	--line-height-7-xl: 52px;
	--line-height-8-xl: 64px;
	--line-height-9-xl: 76px;
}

@media (min-width: 768px) {
	:root {
		--font-size-2-xl: 1.5rem;
		--font-size-3-xl: 1.5rem;
		--font-size-4-xl: 1.875rem;
		--font-size-5-xl: 2.25rem;
		--font-size-6-xl: 3rem;
		--font-size-7-xl: 3.75rem;
		--font-size-8-xl: 4.5rem;
		--font-size-9-xl: 6rem;

		--line-height-2-xl: 32px;
		--line-height-3-xl: 32px;
		--line-height-4-xl: 36px;
		--line-height-5-xl: 40px;
		--line-height-6-xl: 52px;
		--line-height-7-xl: 64px;
		--line-height-8-xl: 76px;
		--line-height-9-xl: 100px;
	}
}

@media (min-width: 1024px) {
	:root {
		--font-size-3-xl: 1.875rem;
		--font-size-4-xl: 2.25rem;
		--font-size-5-xl: 3rem;
		--font-size-6-xl: 3.75rem;
		--font-size-7-xl: 4.5rem;
		--font-size-8-xl: 6rem;
		--font-size-9-xl: 8rem;

		--line-height-3-xl: 36px;
		--line-height-4-xl: 40px;
		--line-height-5-xl: 52px;
		--line-height-6-xl: 64px;
		--line-height-7-xl: 76px;
		--line-height-8-xl: 100px;
		--line-height-9-xl: 132px;
	}
}

:root {
	/* Font Families */
	--font-family-sans:
		ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
		"Segoe UI Symbol", "Noto Color Emoji";
	--font-family-serif:
		ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
	--font-family-mono:
		ui-monospace, SFMono-Regular, "SF Mono", Consolas, "Liberation Mono", Menlo,
		monospace;
	--font-family-inter: Inter, ui-sans-serif, system-ui, sans-serif;
	--font-family-pt-sans: "PT Sans", ui-sans-serif, system-ui, sans-serif;
	--font-family-public-sans:
		"Public Sans", ui-sans-serif, system-ui, sans-serif;

	/* Font Weights */
	--font-weight-thin: 100;
	--font-weight-extralight: 200;
	--font-weight-light: 300;
	--font-weight-normal: 400;
	--font-weight-medium: 500;
	--font-weight-semibold: 600;
	--font-weight-bold: 700;
	--font-weight-extrabold: 800;
	--font-weight-black: 900;

	/* Line Heights */
	--line-height-none: 1;
	--line-height-tight: 1.25;
	--line-height-snug: 1.375;
	--line-height-normal: 1.5;
	--line-height-relaxed: 1.625;
	--line-height-loose: 2;

	/* Letter Spacing */
	--letter-spacing-tighter: -0.05em;
	--letter-spacing-tight: -0.025em;
	--letter-spacing-normal: 0em;
	--letter-spacing-wide: 0.025em;
	--letter-spacing-wider: 0.05em;
	--letter-spacing-widest: 0.1em;
}

/* ------------------------------------------------------------------
   Override WordPress FSE layout constraints for headings
------------------------------------------------------------------- */

:root .is-layout-constrained > .wp-block-heading:first-child {
	margin-block-start: revert;
}

/* ------------------------------------------------------------------
   WordPress Heading Block Styles
------------------------------------------------------------------- */
.wp-block-heading,
.wp-block-post-title {
	font-weight: 700;

	&:is(h1) {
		font-size: var(--font-size-6-xl);
		margin-block-end: var(--space-heading-sm);
	}

	&:is(h2) {
		font-size: var(--font-size-5-xl);
		margin-block-end: var(--space-heading-sm);
	}

	&:is(h3) {
		font-size: var(--font-size-4-xl);
		margin-block-end: var(--space-heading-sm);
	}

	&:is(h4) {
		font-size: var(--font-size-3-xl);
		margin-block-end: var(--space-heading-sm);
	}

	&:is(h5) {
		font-size: var(--font-size-2-xl);
		margin-block-end: var(--space-heading-sm);
	}

	&:is(h6) {
		font-size: var(--font-size-xl);
		margin-block-end: var(--space-heading-sm);
	}
}

h1.wp-block-heading,
h1.wp-block-post-title,
.has-6-xl-font-size {
	line-height: var(--line-height-6-xl);   
	letter-spacing: var(--letter-spacing-tight);
	margin-block-start: var(--line-height-6-xl);  
}

h2.wp-block-heading,
h2.wp-block-post-title,
.has-5-xl-font-size {
	line-height: var(--line-height-5-xl);   
	letter-spacing: var(--letter-spacing-tight);
	margin-block-start: var(--line-height-5-xl);  
}

h3.wp-block-heading,
h3.wp-block-post-title,
.has-4-xl-font-size {
	line-height: var(--line-height-4-xl);   
	letter-spacing: var(--letter-spacing-tight);
	margin-block-start: var(--line-height-4-xl);  
}

h4.wp-block-heading,
h4.wp-block-post-title,
.has-3-xl-font-size {
	line-height: var(--line-height-3-xl);   
	letter-spacing: var(--letter-spacing-tight);
	margin-block-start: var(--line-height-3-xl);  
}

h5.wp-block-heading,
h5.wp-block-post-title,
.has-2-xl-font-size {
	line-height: var(--line-height-2-xl);   
	letter-spacing: var(--letter-spacing-tight);
	margin-block-start: var(--line-height-2-xl);  
}

h6.wp-block-heading,
h6.wp-block-post-title,
.has-xl-font-size {
	line-height: var(--line-height-xl);   
	letter-spacing: var(--letter-spacing-tight);
	margin-block-start: var(--line-height-xl);  
}

.has-lg-font-size {
	line-height: var(--line-height-lg);   
	margin-block-start: var(--line-height-lg);  
}

.has-base-font-size {
	line-height: var(--line-height-base);   
	margin-block-start: var(--line-height-base);  
}

.has-sm-font-size {
	line-height: var(--line-height-sm);   
	margin-block-start: var(--line-height-sm);  
}

.has-xs-font-size {
	line-height: var(--line-height-xs);   
	margin-block-start: var(--line-height-xs);  
}

//Block font sizes
.wb-table-of-contents {
	&__heading {
		font-size: var(--font-size-base);
	}

	&__list {
		font-size: var(--font-size-sm);
	}
}

.wp-block-file.wb-file {
	font-size: var(--font-size-base);
}