@mixin force-dark {
	/********
		* This mixin forces an element to be dark unless it is focussed upon
		* Text and borders are forced light to contrast with the background which is forced dark
		* If a set background is used and it is one of the mandatory colours (X or Y), we add a 
		thin outline of that colour, we also change the border colour to that colour (instead of forced light)
		* Specific exception for the WB Icon block
	********/

	.wb-force-dark {
		&,
		* {
			&:not(:focus):not(:focus *):not(.wb-icon) {
				color: var(--forced-light-colour) !important;
				border-color: var(--forced-light-colour) !important;
				background-color: var(--forced-dark-colour) !important;
			}
		}
		&.has-background,
		*.has-background {
			&.has-colour-y-background-color {
				outline: 1px solid var(--wp--preset--color--colour-y);
				border-color: var(--wp--preset--color--colour-y) !important;
			}
			&.has-colour-z-background-color {
				outline: 1px solid var(--wp--preset--color--colour-z);
				border-color: var(--wp--preset--color--colour-z) !important;
			}
			&:not(:focus):not(:focus *) {
				background-color: var(--forced-dark-colour) !important;
			}
		}
		&.has-text-color,
		*.has-text-color {
			&:not(:focus):not(:focus *) {
				color: var(--forced-light-colour) !important;
			}
		}
		a:not(:focus):not(:focus *):is(main *) {
			// revert the links to their normal dark mode colour (main area only)
			&,
			span {
				color: var(--colour-link-text) !important;
				&:hover {
					color: var(--colour-link-text-hover) !important;
				}
			}
		}
		:where(.wp-element-button, .wp-block-button__link) {
			// buttons will need a border as their background will be forced to be the same as the page background.
			&:not([style*="border-width"]),
			&:is([style*="border-width:0"]) {
				border-style: solid !important;
				border-width: 2px !important;
			}
		}
	}
}

@layer importants {
	@media screen and (prefers-color-scheme: dark) {
		// Forcing dark mode colours where the switch doesn't work, all colours are forced
		// to dark background, light foreground (inc borders).
		// Focussed elements exempt.

		:root:not(.light-mode) {
			@include force-dark;
		}
	}
	@media screen {
		:root.dark-mode {
			@include force-dark;
		}
	}
}
