// Forward all theme modules
@forward "palettes/defaults";
@forward "palettes/ccrc";
@forward "palettes/vc";
@forward "palettes/imb";
@forward "palettes/lay-observers";
@forward "palettes/playground";

:root {
	--header-bg: var(--brand-header-bg--dark);
	--header-txt: var(--brand-header-txt--dark);
	--background: var(--brand-bg-dark);
	--foreground: var(--brand-txt-dark);
	@media (prefers-color-scheme: light) {
		--header-txt: var(--brand-header-txt--light);
		--header-bg: var(--brand-header-bg--light);
		--background: var(--brand-bg-light);
		--foreground: var(--brand-txt-light);
	}
}

//goes through the $sites and summons forth their colour palettes.
@mixin gw-summon-palette($prefixes) {
	@each $prefix in $prefixes {
		:root {
			--#{$prefix}-header-bg: var(--#{$prefix}-header-bg-dark);
			--#{$prefix}-header-txt: var(--#{$prefix}-header-txt-dark);
			--#{$prefix}-primary: var(--#{$prefix}-primary-dark);
			--#{$prefix}-secondary: var(--#{$prefix}-secondary-dark);
			--#{$prefix}-accent: var(--#{$prefix}-accent-dark);
			--#{$prefix}-muted: var(--#{$prefix}-muted-dark);
			--#{$prefix}-muted-foreground: var(--#{$prefix}-muted-foreground-dark);
			--#{$prefix}-border: var(--#{$prefix}-border-dark);
			--#{$prefix}-input: var(--#{$prefix}-input-dark);
			--#{$prefix}-ring: var(--#{$prefix}-ring-dark);

			@media (prefers-color-scheme: light) {
				--#{$prefix}-header-bg: var(--#{$prefix}-header-bg-light);
				--#{$prefix}-header-txt: var(--#{$prefix}-header-txt-light);
				--#{$prefix}-primary: var(--#{$prefix}-primary-light);
				--#{$prefix}-secondary: var(--#{$prefix}-secondary-light);
				--#{$prefix}-accent: var(--#{$prefix}-accent-light);
				--#{$prefix}-muted: var(--#{$prefix}-muted-light);
				--#{$prefix}-muted-foreground: var(--#{$prefix}-muted-foreground-light);
				--#{$prefix}-border: var(--#{$prefix}-border-light);
				--#{$prefix}-input: var(--#{$prefix}-input-light);
				--#{$prefix}-ring: var(--#{$prefix}-ring-light);
			}
		}
	}
}
$sites: ccrc, vc, imb, lay-observers, playground;

@include gw-summon-palette($prefixes: $sites);
