// Forward all theme modules
@forward "palettes/defaults";
@forward "palettes/playground";
@forward "palettes/cjsm";
/*
Add site-specific stylesheets thus:
@forward "palettes/ccrc";
@forward "palettes/vc";
@forward "palettes/imb";
@forward "palettes/lay-observers";
*/
$colour-list:
	primary, primary-accent, background, background-secondary, foreground,
	foreground-secondary, foreground-hint, disabled, muted, subtle, strong, error,
	error-muted, focus-text, focus-background, focus-outline, header-background,
	header-foreground, header-nav-background, header-nav-background-overflow,
	header-nav-links, header-subnav-background, header-subnav-links, header-button-outline, header-logo-focus-filter, secondary,
	secondary-accent;

//goes through the $site-list and $colour-list
//do not change the below, only add to the lists above
@mixin gw-summon-palette($colours, $mode) {
	@each $colour in $colours {
		--colour-#{$colour}: var(--#{$colour}--#{$mode});
	}
}

:root {
	@include gw-summon-palette($colours: $colour-list, $mode: dark);

	@media (prefers-color-scheme: light) {
		@include gw-summon-palette($colours: $colour-list, $mode: light);
	}
}

// mixin to shade a colour
/**
 * For example:
 *
	@include gw-shade-colour(
		$from: --vc-primary-dark,
		$to: --vc-accent-dark,
		$degree: 80
	);
 *
 *  Output would be:
	--vc-accent-dark: lch(from var(--vc-primary-dark)80 c h)
 *
 **/
@mixin gw-shade-colour($from, $to, $degree) {
	#{$to}: lch(from var(#{$from}) #{$degree} c h);
}
