:root:has(.site-lay-observers) {
	--brand-header-bg--dark: #f00;
	--brand-header-bg--light: #fca;
	--brand-header-txt--dark: #fff;
	--brand-header-txt--light: #000;
	--brand-bg-dark: #b1b4b6;
	--brand-bg-light: #fff;
}
