<!-- wp:template-part {"slug":"header-default","theme":"govwind"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"var:preset|spacing|70","bottom":"var:preset|spacing|70","left":"var:preset|spacing|50","right":"var:preset|spacing|50"},"margin":{"top":"0","bottom":"0"}}},"layout":{"type":"constrained"}} -->
<main
	class="wp-block-group"
	style="
		margin-top: 0;
		margin-bottom: 0;
		padding-top: var(--wp--preset--spacing--70);
		padding-right: var(--wp--preset--spacing--50);
		padding-bottom: var(--wp--preset--spacing--70);
		padding-left: var(--wp--preset--spacing--50);
	"
>
	<!-- wp:heading {"textAlign":"center","level":1,"style":{"typography":{"fontSize":"6rem","fontWeight":"700"},"spacing":{"margin":{"bottom":"var:preset|spacing|30"}}}} -->
	<h1 class="wp-block-heading">
		 Page not found
	</h1>
	<!-- /wp:heading -->

	<!-- wp:paragraph -->
	<p>
		If you typed the web address, check it is correct.
	</p>
	<!-- /wp:paragraph -->

	<!-- wp:paragraph -->
	<p>
		If you pasted the web address, check you copied the entire address.
	</p>
	<!-- /wp:paragraph -->

	<!-- wp:paragraph -->
	<p>
		Use the search facility below, select an item from the contents or alternatively return to the home page.
	</p>
	<!-- /wp:paragraph -->

	<!-- wp:search {"label":"Search this site","showLabel":true,"buttonText":"Search"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"govwind"} /-->
