<!-- wp:template-part {"slug":"header","className":""} /-->

<!-- wp:group {"tagName":"main"} -->
<main class="gw-main-content-area wp-block-group">
	<!-- wp:group {"align":"full","style":{"spacing":{"padding":{"top":"var:preset|spacing|60","bottom":"var:preset|spacing|60"}}},"layout":{"type":"constrained"}} -->
	<div
		class="wp-block-group alignfull"
		style="
			padding-top: var(--wp--preset--spacing--60);
			padding-bottom: var(--wp--preset--spacing--60);
		"
	>
		<!-- wp:pattern {"slug":"govwind/template-query-loop"} /-->
	</div>
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","className":""} /-->
