<!-- wp:template-part {"slug":"header","className":"bg-purple-900 text-white grid grid-cols-[12px_auto_12px] lg:grid-cols-[minmax(12px,_auto)_1256px_minmax(12px,_auto)] col-span-3"} /-->

<!-- wp:template-part {"slug":"nav-top","className":"bg-red-900 text-red-100 grid grid-cols-[12px_auto_12px] xl:grid-cols-[minmax(12px,_auto)_1256px_minmax(12px,_auto)] col-span-3"} /-->

<!-- wp:group -->
<div class="gw-main-content-area wp-block-group grid grid-cols-[12px_auto_12px] xl:grid-cols-[minmax(12px,_auto)_1256px_minmax(12px,_auto)] bg-green-200">
    <!-- wp:post-content {"className":"col-start-2 row-start-3 bg-white"} /-->
</div>
<!-- /wp:group -->	

<!-- wp:template-part {"slug":"footer","className":"col-span-3 row-start-4 grid grid-cols-[12px_auto_12px] xl:grid-cols-[minmax(12px,_auto)_1256px_minmax(12px,_auto)] bg-blue-200 border-t-2 border-blue-900 dark:border-blue-100 pb-3 dark:bg-blue-600 dark:color-yellow-200 dark:fill-yellow-200"} /-->
