<!-- wp:template-part {"slug":"header","className":"bg-purple-900 text-white grid grid-cols-[12px_auto_12px] lg:grid-cols-[minmax(12px,_auto)_1256px_minmax(12px,_auto)] col-span-3"} /-->

<!-- wp:group -->
<div class="wp-block-group grid grid-cols-[12px_auto_12px] xl:grid-cols-[minmax(12px,_auto)_418px_836px_minmax(12px,_auto)] bg-neutral-50 dark:bg-neutral-900 dark:text-white">
    <!-- wp:template-part {"slug":"nav-side","className":"col-start-2 row-start-2 bg-yellow-200 lg:row-span-2 dark:bg-green-800"} /-->

    <!-- wp:post-content {"className":"col-start-2 row-start-3 lg:row-start-2 lg:col-start-3 lg:row-span-2"}/-->
</div>
<!-- /wp:group -->	

<!-- wp:template-part {"slug":"footer","className":"col-span-3 row-start-4 grid grid-cols-[12px_auto_12px] xl:grid-cols-[minmax(12px,_auto)_1256px_minmax(12px,_auto)] bg-blue-200 border-t-2 border-blue-900 dark:border-blue-100 pb-3 dark:bg-blue-600 dark:color-yellow-200 dark:fill-yellow-200"} /-->
