<!-- wp:group -->
<div class="wp-block-group grid grid-cols-[12px_auto_12px] lg:grid-cols-[minmax(12px,_auto)_333px_666px_minmax(12px,_auto)] bg-neutral-50 dark:bg-neutral-900 dark:text-white">
    <!-- wp:template-part {"slug":"header","className":"col-span-3 lg:col-span-4"} /-->

    <!-- wp:group -->
    <div class="wp-block-group row-start-2 max-lg:bg-yellow-200 max-lg:dark:bg-green-800"></div>
    <!-- /wp:group -->	
    <!-- wp:group -->
    <div class="wp-block-group col-start-3 row-start-2 max-lg:bg-yellow-200 max-lg:dark:bg-green-800 lg:col-start-4"></div>
    <!-- /wp:group -->	
    <!-- wp:group -->
    <div class="wp-block-group col-start-2 row-start-2 bg-yellow-200 lg:row-span-2 dark:bg-green-800">
        <!-- wp:template-part {"slug":"nav"} /-->
    </div>
    <!-- /wp:group -->	

    <!-- wp:group -->
    <div class="wp-block-group row-start-3"></div>
    <!-- /wp:group -->	
    <!-- wp:group -->
    <div class="wp-block-group col-start-3 row-start-3 lg:col-start-4"></div>
    <!-- /wp:group -->	
    <!-- wp:group -->
    <div class="wp-block-group col-start-2 row-start-3 lg:row-start-2 lg:col-start-3 lg:row-span-2">
        <!-- wp:post-content /-->
    </div>
    <!-- /wp:group -->	
    <!-- wp:template-part {"slug":"footer","className":"col-span-3 row-start-4 lg:col-span-4"} /-->
</div>
<!-- /wp:group -->	
