<!-- wp:template-part {"slug":"header","className":"bg-purple-900 text-white grid grid-cols-[12px_auto_12px] xl:grid-cols-[minmax(12px,_auto)_1256px_minmax(12px,_auto)]"} /-->

<!-- wp:template-part {"slug":"nav-top","className":"bg-gray-200 text-black grid grid-cols-[12px_auto_12px] xl:grid-cols-[minmax(12px,_auto)_1256px_minmax(12px,_auto)]"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"0"}}},"layout":{"type":"constrained"}} -->
<main
	class="gw-main-content-area wp-block-group grid grid-cols-[12px_auto_12px] bg-white py-10 xl:grid-cols-[minmax(12px,_auto)_1256px_minmax(12px,_auto)] [&>*]:col-start-2"
	style="margin-top: 0"
>
	<!-- wp:group {"align":"full","style":{"spacing":{"padding":{"top":"var:preset|spacing|60","bottom":"var:preset|spacing|60"}}},"layout":{"type":"constrained"}} -->
	<div
		class="wp-block-group alignfull"
		style="
			padding-top: var(--wp--preset--spacing--60);
			padding-bottom: var(--wp--preset--spacing--60);
		"
	>
		<!-- wp:post-featured-image {"style":{"spacing":{"margin":{"bottom":"var:preset|spacing|60"}}}} /-->
		<!-- wp:post-title {"level":1} /-->
		<!-- wp:post-content {"align":"full","layout":{"type":"constrained"}} /-->
	</div>
	<!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","className":"grid grid-cols-[12px_auto_12px] xl:grid-cols-[minmax(12px,_auto)_1256px_minmax(12px,_auto)] bg-gray-200 border-t-2 border-blue-900 dark:border-blue-100 pb-3 dark:bg-gray-600 dark:color-yellow-200 dark:fill-yellow-200"} /-->
