/**
 * the :root class is for the public facing website
 * the body class is for the page editor interface
 */

:root.website-66, //66 = Rob's CJSM
:root:has(body.website-66),
:root.website-56, //56 = CJSM
:root:has(body.website-56) {
	//brand unique colours
	--brand-colour: 249; //degrees round the colour wheel
	--preview: oklch(30.6% 0.064 249);

	--brand-colour: 249; //degrees round the colour wheel
	--brand-intensity-vivid: 0.064; //intensity mainly for light theme
	--brand-intensity-subtle: 0.066; //intensity mainly for dark theme

	// Extra colours for palette
	--secondary--light: #dac777;
	--secondary-accent--light: #f8f4e4;
	--secondary--dark: #4c4215;
	--secondary-accent--dark: #47453e;

	//header colours
	--header-logo-focus-filter--light: invert(1) hue-rotate(180deg); // we invert the logo on focus

	//hidden
	//focus colours
	--focus-text--light: #000;
	--focus-background--light: #f8f4e4; //needs to contrast with focus-text
	--focus-background-muted--light: #f8f4e4; //also needs to contrast with focus-text
	--focus-accent--light: #dac777;
	--focus-outline--light: #2366a3;

	//DARK MODE

	//header colours
	--header-logo-focus-filter--dark: invert(1) hue-rotate(180deg); // we invert the logo on focus
}
