/**
 * the :root class is for the public facing website
 * the body class is for the page editor interface
 */

:root.website-66, //66 = Rob's CJSM
:root:has(body.website-66),
:root.website-56, //56 = CJSM
:root:has(body.website-56) {
	// Brand unique colour variables
	--brand-colour: 249.67; //degrees round the colour wheel
	--brand-intensity-vivid: 0.0711; //intensity mainly for light theme
	--brand-intensity-subtle: 0.066; //intensity mainly for dark theme
	--brand-brightness-primary-light: 33.29%;
	--brand-brightness-accent-light: 43%;
	--brand-brightness-primary-dark: 80%;
	--brand-brightness-accent-dark: 76%;

	// Extra colours for palette - needs to be included in the list of colours in _index.scss
	--palette-2--light-mode: #12314e;
	--palette-3--light-mode: #dac777;
	--palette-4--light-mode: #f8f4e4;

	// swap the light colours and dark colours in dark mode
	--palette-1--dark-mode: #dac777;
	--palette-2--dark-mode: #f8f4e4;
	--palette-3--dark-mode: var(--palette-1--light-mode);
	--palette-4--dark-mode: var(--palette-2--light-mode);

	// Button colours
	--button-background--light-mode: #2466a4;
	--button-background--dark-mode: #dac777;

	// Header colours
	--header-nav-background--light-mode: var(
		--header-background--light-mode
	); //sets the nav background to match the rest of the header
	--header-nav-background--dark-mode: var(
		--header-background--dark-mode
	); //sets the nav background to match the rest of the header
	--header-button-background--light-mode: #2466a4;
	--header-logo-focus-filter--light-mode: invert(1) hue-rotate(180deg); // we invert the logo on focus

	// Focus colours
	// dark mode uses light mode colours by default
	--focus-background-muted--light-mode: #f8f4e4; //also needs to contrast with focus-text
	--focus-accent--light-mode: #dac777;
}
