:root {
	//palette
	--default-primary-light: #1447e6;
	--default-primary-accent-light: #193cb8;
	--default-background-light: #ffffff;
	--default-foreground-light: #0a0a0a;

	//hidden
	--default-muted-light: #f5f5f5;

	//palette
	--default-primary-dark: #b3bfe6;
	--default-primary-accent-dark: #9db0ef;
	--default-background-dark: #383838;
	--default-foreground-dark: beige;

	//hidden
	--default-muted-dark: #545454;
	/*
	//palette
	--default-primary-dark: var(--default-primary-light);
	--default-primary-accent-dark: var(--default-primary-accent-light);
	--default-background-dark: var(--default-background-light);
	--default-foreground-dark: var(--default-foreground-light);

	//hidden
	--default-muted-dark: var(--default-muted-light);

*/
}
