:root {
	//palette
	//put them in "colour" order, so they make sense when chosen from the palette
	--default-primary--light: #1447e6;
	--default-primary-accent--light: #193cb8;
	--default-background--light: #ffffff;
	--default-background-secondary--light: #e5e5e5;
	--default-foreground-secondary--light: #404040;
	--default-foreground--light: #0a0a0a;

	//hidden
	//these colours are not available for selecting in the palette
	--default-foreground-hint--light: #737373;
	--default-disabled--light: #a1a1a1;
	--default-muted--light: #f5f5f5;
	--default-subtle--light: #fafafa;
	--default-strong--light: #525252;
	--default-error--light: #c10007;
	--default-error-muted--light: #ffa2a2;
	--default-focus-text--light: #000;
	--default-focus-background--light: #ffb900;
	--default-focus-accent--light: #ffd633;
	--default-focus-outline--light: #2b7fff;

	//header colours
	--default-header-background--light: #1447e6;
	--default-header-foreground--light: #fff;
	--default-header-nav-background--light: #193cb8;
	--default-header-nav-background-overflow--light: #193cb8;
	--default-header-nav-links--light: #e5e5e5;
	--default-header-button-outline--light: 2px solid #e5e5e5; // Use especially if button colour matches header colour

	//DARK MODE

	//palette
	--default-primary--dark: #b3bfe6;
	--default-primary-accent--dark: #9db0ef;
	--default-background--dark: #383838;
	--default-background-secondary--dark: #525252;
	--default-foreground-secondary--dark: #e5e5e5;
	--default-foreground--dark: #ffffff;

	//hidden
	--default-foreground-hint--dark: #737373;
	--default-disabled--dark: #525252;
	--default-muted--dark: #545454;
	--default-subtle--dark: #737373;
	--default-strong--dark: #fafafa;
	--default-error--dark: #f00;
	--default-error-muted--dark: #c10007;
	--default-focus-text--dark: #000;
	--default-focus-background--dark: #ffb900;
	--default-focus-accent--dark: #ffd633;
	--default-focus-outline--dark: #193cb8;

	//header colours
	--default-header-background--dark: #1447e6;
	--default-header-foreground--dark: #fff;
	--default-header-nav-background--dark: #193cb8;
	--default-header-nav-links--dark: #e5e5e5;

	--default-header-button-outline: 2px solid #e5e5e5; // Use especially if button colour matches header colour

	/*
	//palette
	--default-primary-dark: var(--default-primary-light);
	--default-primary-accent-dark: var(--default-primary-accent-light);
	--default-background-dark: var(--default-background-light);
	--default-foreground-dark: var(--default-foreground-light);

	//hidden
	--default-muted-dark: var(--default-muted-light);
	--default-error-dark: var(--default-error-light);
	--default-focus-dark: var(--default-focus-light);
	
*/
}
