/**
	* These are the default colours.  All colours must be declared here and assigned a default.
	* All colours must have a dark and a light mode.
*/

:root {
	//header colours
	--header-background--light: #1447e6;
	--header-foreground--light: #fff;
	--header-nav-background--light: #193cb8;
	--header-nav-background-overflow--light: var(--header-nav-background--light);
	--header-nav-links--light: #e5e5e5;
	--header-subnav-background--light: #e5e5e5;
	--header-subnav-links--light: #0a0a0a;
	--header-button-outline--light: 2px solid #e5e5e5; // Use especially if button colour matches header colour
	--header-logo-focus-filter--light: none;

	//header search
	--header-search-toggle-background--light: #1447E6;
	--header-search-toggle-icon-fill--light: #fff;
	--header-search-toggle-hover-background--light: #1241D4; 
	--header-search-toggle-hover-icon-fill--light: #fff; 
	--header-search-form-background--light: #fff; 
	--header-search-form-text--light: #0A0A0A;
	--header-search-button-background--light: #1447E6;
	--header-search-button-icon-fill--light: #fff;
	--header-search-button-hover-background--light: #1241D4;
	--header-search-button-hover-icon-fill--light: #fff;
	--header-search-drawer-label--light: #0A0A0A;
	--header-search-drawer-background--light: #fff;
	--header-search-drawer-input-background--light: #fff;
	--header-search-drawer-input-text--light: #0A0A0A;
	--header-search-drawer-input-border--light: #0A0A0A;
	--header-search-drawer-button-background--light: #1447E6;
	--header-search-drawer-button-icon-fill--light: #fff;
	--header-search-drawer-button-hover-background--light: #1241D4;;
	--header-search-drawer-button-hover-icon-fill--light: #fff;


	//palette
	//put them in "colour" order, so they make sense when chosen from the palette
	// these are the colours that are pickable in the colour palette - see theme.json
	--primary--light: #1447e6; //used for buttons and links
	--primary-accent--light: #193cb8; // Used for button and link hover states
	--background--light: #ffffff; // Both the page background, and text on things with a dark background such as buttons
	--background-secondary--light: #e5e5e5;
	--foreground-secondary--light: #404040;
	--foreground--light: #0a0a0a;

	//hidden
	//these colours are not available for selecting in the palette
	--foreground-hint--light: #737373;
	--disabled--light: #a1a1a1;
	--muted--light: #f5f5f5;
	--subtle--light: #fafafa;
	--strong--light: #525252;
	--error--light: #c10007;
	--error-muted--light: #ffa2a2;
	--focus-text--light: #000;
	--focus-background--light: #ffb900;
	--focus-accent--light: #ffd633;
	--focus-outline--light: #2b7fff;

	//DARK MODE

	//header colours
	--header-background--dark: #1447e6;
	--header-foreground--dark: #fff;
	--header-nav-background--dark: #193cb8;
	--header-nav-background-overflow--dark: var(--header-nav-background--dark);
	--header-subnav-background--dark: #525252;
	--header-subnav-links--dark: #ffffff;
	--header-nav-links--dark: #e5e5e5;
	--header-button-outline: 2px solid #e5e5e5; // Use especially if button colour matches header colour
	--header-logo-focus-filter--dark: none;

	//header search
	--header-search-toggle-background--dark: #1447E6;
	--header-search-toggle-icon-fill--dark: #fff;
	--header-search-toggle-hover-background--dark: #1241D4; 
	--header-search-toggle-hover-icon-fill--dark: #fff; 
	--header-search-form-background--dark: #fff; 
	--header-search-form-text--dark: #0A0A0A;
	--header-search-button-background--dark: #1447E6;
	--header-search-button-icon-fill--dark: #fff;
	--header-search-button-hover-background--dark: #1241D4;
	--header-search-button-hover-icon-fill--dark: #fff;
	--header-search-drawer-label--dark: #0A0A0A;
	--header-search-drawer-background--dark: #fff;
	--header-search-drawer-input-background--dark: #fff;
	--header-search-drawer-input-text--dark: #0A0A0A;
	--header-search-drawer-input-border--dark: #0A0A0A;
	--header-search-drawer-button-background--dark: #1447E6;
	--header-search-drawer-button-icon-fill--dark: #fff;
	--header-search-drawer-button-hover-background--dark: #1241D4;;
	--header-search-drawer-button-hover-icon-fill--dark: #fff;

	//palette
	--primary--dark: #b3bfe6;
	--primary-accent--dark: #9db0ef;
	--background--dark: #383838;
	--background-secondary--dark: #525252;
	--foreground-secondary--dark: #e5e5e5;
	--foreground--dark: #ffffff;

	//hidden
	--foreground-hint--dark: #737373;
	--disabled--dark: #525252;
	--muted--dark: #545454;
	--subtle--dark: #737373;
	--strong--dark: #fafafa;
	--error--dark: #f00;
	--error-muted--dark: #c10007;
	--focus-text--dark: #000;
	--focus-background--dark: #ffb900;
	--focus-accent--dark: #ffd633;
	--focus-outline--dark: #193cb8;

	/*
	//palette
	--primary-dark: var(--primary-light);
	--primary-accent-dark: var(--primary-accent-light);
	--background-dark: var(--background-light);
	--foreground-dark: var(--foreground-light);

	//hidden
	--muted-dark: var(--muted-light);
	--error-dark: var(--error-light);
	--focus-dark: var(--focus-light);
	
*/
}
