/**
	* These are the default colours.  All colours must be declared here and assigned a default.
	* All colours must have a dark and a light mode.
*/

:root {
	//palette
	//put them in "colour" order, so they make sense when chosen from the palette
	--primary--light: #1447e6;
	--primary-accent--light: #193cb8;
	--background--light: #ffffff;
	--background-secondary--light: #e5e5e5;
	--foreground-secondary--light: #404040;
	--foreground--light: #0a0a0a;

	//hidden
	//these colours are not available for selecting in the palette
	--foreground-hint--light: #737373;
	--disabled--light: #a1a1a1;
	--muted--light: #f5f5f5;
	--subtle--light: #fafafa;
	--strong--light: #525252;
	--error--light: #c10007;
	--error-muted--light: #ffa2a2;
	--focus-text--light: #000;
	--focus-background--light: #ffb900;
	--focus-accent--light: #ffd633;
	--focus-outline--light: #2b7fff;

	//header colours
	--header-background--light: #1447e6;
	--header-foreground--light: #fff;
	--header-nav-background--light: #193cb8;
	--header-nav-background-overflow--light: #193cb8;
	--header-nav-links--light: #e5e5e5;
	--header-button-outline--light: 2px solid #e5e5e5; // Use especially if button colour matches header colour

	//DARK MODE

	//palette
	--primary--dark: #b3bfe6;
	--primary-accent--dark: #9db0ef;
	--background--dark: #383838;
	--background-secondary--dark: #525252;
	--foreground-secondary--dark: #e5e5e5;
	--foreground--dark: #ffffff;

	//hidden
	--foreground-hint--dark: #737373;
	--disabled--dark: #525252;
	--muted--dark: #545454;
	--subtle--dark: #737373;
	--strong--dark: #fafafa;
	--error--dark: #f00;
	--error-muted--dark: #c10007;
	--focus-text--dark: #000;
	--focus-background--dark: #ffb900;
	--focus-accent--dark: #ffd633;
	--focus-outline--dark: #193cb8;

	//header colours
	--header-background--dark: #1447e6;
	--header-foreground--dark: #fff;
	--header-nav-background--dark: #193cb8;
	--header-nav-links--dark: #e5e5e5;

	--header-button-outline: 2px solid #e5e5e5; // Use especially if button colour matches header colour

	/*
	//palette
	--primary-dark: var(--primary-light);
	--primary-accent-dark: var(--primary-accent-light);
	--background-dark: var(--background-light);
	--foreground-dark: var(--foreground-light);

	//hidden
	--muted-dark: var(--muted-light);
	--error-dark: var(--error-light);
	--focus-dark: var(--focus-light);
	
*/
}
