:root {
	--imb-header-bg-dark: #8d0a0a;
	--imb-header-txt-dark: #fff;
	--imb-primary-dark: #f50;

	--imb-header-bg-light: var(--imb-header-bg-dark);
	--imb-header-txt-light: var(--imb-header-txt-dark);
	--imb-primary-light: #0a0;
}
