:root {
	//palette colours
	--primary: #b52d2d;
	--background: #fff;
	--background-pink: #ffaaff;
	--foreground: rgb(19, 19, 189);
	--green: #0a0;

	//hidden colours

	--header-bg-light: var(--header-bg-dark);
	--header-txt-light: var(--header-txt-dark);
	--primary-light: #0a0;
}
