/**
 * the :root class is for the public facing website
 * the body class is for the page editor interface
 */

:root.website-61,
:root:has(body.website-61) {
	// Brand unique colour variables
	--brand-colour: 329.8; //degrees round the colour wheel
	--brand-intensity-vivid: 0.155; //intensity mainly for light theme
	--brand-brightness-primary-light: 47.4%;
	--brand-brightness-primary-dark: 80%;

	// Extra colours for palette - needs to be included in the list of colours in _index.scss
	--palette-1--light-mode: #8d3780;
	--palette-2--light-mode: #3153a9;
	--palette-3--light-mode: #00c7c7;
	--palette-4--light-mode: #f96a00;
	--palette-5--light-mode: var(--green--light-mode);

	// swap the light colours and dark colours in dark mode
	--palette-1--dark-mode: #b85aa9;
	--palette-2--dark-mode: #728ed6;
	--palette-3--dark-mode: #00535f;
	--palette-4--dark-mode: #ca5000;
	--palette-5--dark-mode: var(--green--dark-mode);

	// Button colours
	--button-background--light-mode: var(--palette-2--light-mode);
	--button-background--dark-mode: #3153a9;
	--button-text--dark-mode: #ffffff;
	--button-border--dark-mode: currentColor;

	// Header colours
	--header-nav-background--light-mode: transparent; //sets the nav background to match the rest of the header
	--header-nav-links-current--light-mode: var(--header-background--light-mode);
	--header-button-background--light-mode: #3153a9;
	--header-button-outline--light-mode: none;
	--header-logo-focus-filter--light-mode: invert(1) hue-rotate(180deg); // we invert the logo on focus

	// No context colours
	--green--light-mode: #00773b;
	--green--dark-mode: #00b95c;

	// Focus colours
	// dark mode uses light mode colours by default

	// Beneath footer (root background colour)
	// As the footer uses wb-force-dark, we don't set a dark mode here
	--root-background--light-mode: var(--palette-1--light-mode);

	// Non-colours
	--site-radius: var(--radius-full);
}
