:root {
	// Dark mode colours
	--header-bg-dark: #0b0c0c;
	--header-txt-dark: #fff;
	--primary-dark: #f00;
	--secondary-dark: #f00;
	--accent-dark: #f00;
	--muted-dark: #f00;
	--muted-foreground-dark: #f00;
	--border-dark: #f00;
	--input-dark: #f00;
	--ring-dark: #f00;

	// Light mode colours
	--header-bg-light: var(--header-bg-dark);
	--header-txt-light: var(--header-txt-dark);
	--primary-light: var(--primary-dark);
	--secondary-light: var(--secondary-dark);
	--accent-light: var(--accent-dark);
	--muted-light: var(--muted-dark);
	--muted-foreground-light: var(--muted-foreground-dark);
	--border-light: var(--border-dark);
	--input-light: var(--input-dark);
	--ring-light: var(--ring-dark);
}
