:root {
	--border-brand: #1447e6;
	--border-dark: #525252;
	--border-base: #e5e5e5;
	--border-subtle: #f5f5f5;
	--border-muted: #fafafa;
	--border-error: #ffa2a2;
	--focus: #2b7fff;

	--text-default: #0a0a0a;
	--text-secondary: #404040;
	--text-hint: #737373;
	--text-disabled: #a1a1a1;
	--text-brand: #1447e6;
	--text-error: #c10007;
	--text-brand-strong: #193cb8;

	--text-dark-bg-default: #ffffff;
	--text-dark-bg-secondary: #e5e5e5;
	--text-dark-bg-hint: #737373;
	--text-dark-bg-disabled: #525252;

	--bg-base: #ffffff;
	--bg-subtle: #fafafa;
	--bg-muted: #f5f5f5;
	--bg-decorative: #e5e5e5;
	--bg-brand-primary: #1447e6;
	--bg-brand-primary-strong: #193cb8;
}
