:root {
	--border-brand: #1447E6;
	--border-dark: #525252;
	--border-base: #E5E5E5;
	--border-subtle: #F5F5F5;
	--border-muted: #FAFAFA;
	--border-error: #FFA2A2;
	--focus: #2B7FFF;

	--text-default: #0A0A0A;
	--text-secondary: #404040;
	--text-hint: #737373;
	--text-disabled: #A1A1A1;
	--text-brand: #1447E6;
	--text-error: #C10007;
	--text-brand-strong: #193CB8;
	
	--text-dark-bg-default: #FFFFFF;
	--text-dark-bg-secondary: #E5E5E5;
	--text-dark-bg-hint: #737373;
	--text-dark-bg-disabled: #525252;
	
	--bg-base: #FFFFFF;
	--bg-subtle: #FAFAFA;
	--bg-muted: #F5F5F5;
	--bg-decorative: #E5E5E5;
	--bg-brand-primary: #1447E6;
	--bg-brand-primary-strong: #193CB8;
}
