/**
 * the :root class is for the public facing website
 * the body class is for the page editor interface
 */

:root.website-2,
:root:has(body.website-2) {
	// Brand unique colours
	--brand-colour: 249; //degrees round the colour wheel
	--brand-intensity-vivid: 0.064; //intensity mainly for light theme
	--brand-intensity-subtle: 0.066; //intensity mainly for dark theme

	// Extra colours for palette - needs to be included in the list of colours in _index.scss
	--palette-3--light-mode: #dac777;
	--palette-4--light-mode: #f8f4e4;
	--palette-3--dark-mode: #4c4215;
	--palette-4--dark-mode: #47453e;

	// Button colours
	--button-background--light-mode: oklch(0.3 0.071 249);
	--button-background--dark-mode: #dac777;

	//basic colours
	// these are defaulted to palette greyscale colours
	--page-background--light-mode: pink;
	--foreground--light-mode: black;

	--page-background--dark-mode: #4d0808;
	--foreground--dark-mode: #aaffba;

	// Header colours
	--header-logo-focus-filter--light-mode: invert(1) hue-rotate(180deg); // we invert the logo on focus
	--header-logo-focus-filter--dark-mode: invert(1) hue-rotate(180deg); // we invert the logo on focus
}
