:root {
	// Light mode colours
	--playground-background-light: #ffffff;
	--playground-foreground-light: #0a0a0a;

	// Dark mode colours
	--playground-background-dark: #121277;
	--playground-foreground-dark: #fffff0;
}
