@import "tailwindcss";

/* Cannot seem to set these in theme.json so have to manually set them */
:root {
	--wp--preset--font-weight--light: 300;
	--wp--preset--font-weight--normal: 400;
	--wp--preset--font-weight--medium: 500;
	--wp--preset--font-weight--semibold: 600;
	--wp--preset--font-weight--bold: 700;
	--wp--preset--font-weight--extrabold: 800;

	--wp--preset--line-height--none: 1;
	--wp--preset--line-height--tight: 1.25;
	--wp--preset--line-height--snug: 1.375;
	--wp--preset--line-height--normal: 1.5;
	--wp--preset--line-height--relaxed: 1.625;
	--wp--preset--line-height--loose: 2;

	--wp--preset--letter-spacing--tighter: -0.05em;
	--wp--preset--letter-spacing--tight: -0.025em;
	--wp--preset--letter-spacing--normal: 0em;
	--wp--preset--letter-spacing--wide: 0.025em;
	--wp--preset--letter-spacing--wider: 0.05em;
	--wp--preset--letter-spacing--widest: 0.1em;
}

@theme {
	--color-mint-500: oklch(0.72 0.11 178);
}

html {
	background-image: repeating-linear-gradient(
		-45deg,
		purple,
		purple 200px,
		yellow 200px,
		yellow 400px
	);
}
