/**
 * Printing layout changes
 * This file amends the non-colour styles to be printer-friendly.
 *
 * Removes the navigation from the header.
 * Removes groups which do not have the logo or site title in them.
 *
 * Adds a suffix to links with the URL.  This replaces any "opens in a new tab" suffix.
 * For buttons, the suffix is on a new line.
 *
 **/

@media print {
	// Hiding elements of the header which are interactive
	// All navs, all groups except those containing the logo/site name
	header {
		*.wp-block-group:not(:has(.wp-block-site-title)):not(
				:has(.wp-block-site-logo)
			),
		.wp-block-navigation {
			display: none;
		}
	}
	// Hiding Breadcrumb block
	.wp-block-boldblocks-breadcrumb-block {
		display: none;
	}
	// Hiding table of contents jump to top links
	.wb-jump-link {
		display: none;
	}
	// Link suffix
	a[target="_blank"]:after {
		content: ""; //removes "open in a new tab"
	}
	a[href^="/"]:not(header a):not(a[href=""]):after,
	a[href^="http"]:not(header a):not(a[href=""]):after {
		content: " (" attr(href) ")";
		font-size: 0.8rem;
	}
	:where(main .wp-element-button, main .wp-block-button__link) {
		&::after {
			display: block;
		}
	}
}
